<fieldset id="blok4" class="hidden">
  <span class="blok-titel">Bijzonderheden leerling</span>
  <div class="checkboxes">
    <div class="checkboxes-6-10">
      <span class="tussen-titel">Speciaal onderwijs</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-so[]" value="leerling-so-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-so[]" value="leerling-so-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-6-10">
      <span class="tussen-titel">Dyslexie</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-dyslexie[]" value="leerling-dyslexie-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-dyslexie[]" value="leerling-dyslexie-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>


    <div class="checkboxes-6-10">
      <span class="tussen-titel">Dyscalculie</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-dyscalculie[]" value="leerling-dyscalculie-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-dyscalculie[]" value="leerling-dyscalculie-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-6-10">
      <span class="tussen-titel">ADHD</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-adhd[]" value="leerling-adhd-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-adhd[]" value="leerling-adhd-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-6-10">
      <span class="tussen-titel">Slechthorendheid</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-slechthorendheid[]" value="leerling-slechthorendheid-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-slechthorendheid[]" value="leerling-slechthorendheid-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-6-10">
      <span class="tussen-titel">Suikerziekte</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-suikerziekte[]" value="leerling-suikerziekte-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-suikerziekte[]" value="leerling-suikerziekte-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-6-10">
      <span class="tussen-titel">Besproken in ZAT</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-zat[]" value="leerling-zat-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-zat[]" value="leerling-zat-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-6-10">
      <span class="tussen-titel">Overig</span>
    </div>
    <div class="checkboxes-4-10">
      <label class="checkbox">Ja
        <input type="radio" name="leerling-extra_zorg[]" value="leerling-extra_zorg-ja">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">Nee
        <input type="radio" name="leerling-extra_zorg[]" value="leerling-extra_zorg-nee" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <p class="leerling-extra_zorg-text"><span class="input-icon"><i class="fas fa-briefcase-medical"></i></span><input type="text" name="leerling-extra_zorg-overig" placeholder="Andere bijzonderheden" autocomplete="off" /></p>

  <div class="buttons">
    <button type="button" class="button vorige" tabindex="-1"><i class="fas fa-chevron-left"></i>&nbsp; Vorige</button>
    <button type="button" class="button volgende" tabindex="-1">Volgende&nbsp; <i class="fas fa-chevron-right"></i></button>
  </div>
</fieldset>
