<fieldset id="blok3" class="hidden">
  <span class="blok-titel">Prestaties leerling</span>
  <div class="checkboxes checkboxes-soort">
    <div class="checkboxes-2-3"></div>
    <div class="checkboxes-1-3">
      <span class="checkbox-soort">G</span>
      <span class="checkbox-soort">V</span>
      <span class="checkbox-soort">M</span>
      <span class="checkbox-soort">O</span>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Concentratie</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-concentratie[]" value="leerling-concentratie-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-concentratie[]" value="leerling-concentratie-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-concentratie[]" value="leerling-concentratie-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-concentratie[]" value="leerling-concentratie-o">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Werktempo</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-werktempo[]" value="leerling-werktempo-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-werktempo[]" value="leerling-werktempo-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-werktempo[]" value="leerling-werktempo-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-werktempo[]" value="leerling-werktempo-o">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Zelfstandig werken</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-zelfstandig_werken[]" value="leerling-zelfstandig_werken-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-zelfstandig_werken[]" value="leerling-zelfstandig_werken-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-zelfstandig_werken[]" value="leerling-zelfstandig_werken-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-zelfstandig_werken[]" value="leerling-zelfstandig_werken-o">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Motivatie</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-motivatie[]" value="leerling-motivatie-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-motivatie[]" value="leerling-motivatie-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-motivatie[]" value="leerling-motivatie-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-motivatie[]" value="leerling-motivatie-o">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Doorzettingsvermogen</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-doorzettingsvermogen[]" value="leerling-doorzettingsvermogen-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-doorzettingsvermogen[]" value="leerling-doorzettingsvermogen-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-doorzettingsvermogen[]" value="leerling-doorzettingsvermogen-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-doorzettingsvermogen[]" value="leerling-doorzettingsvermogen-o">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Communicatief</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-communicatief[]" value="leerling-communicatief-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-communicatief[]" value="leerling-communicatief-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-communicatief[]" value="leerling-communicatief-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-communicatief[]" value="leerling-communicatief-o">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="checkboxes-2-3">
      <span class="tussen-titel">Sociaal</span>
    </div>
    <div class="checkboxes-1-3">
      <label class="checkbox">
        <input type="radio" name="leerling-sociaal[]" value="leerling-sociaal-g">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-sociaal[]" value="leerling-sociaal-v" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-sociaal[]" value="leerling-sociaal-m">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox">
        <input type="radio" name="leerling-sociaal[]" value="leerling-sociaal-o">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <p><span class="input-icon"><i class="far fa-comment"></i></span><textarea name="leerling-toelichting" placeholder="Toelichting" autocomplete="off"></textarea></p>
  <div class="buttons">
    <button type="button" class="button vorige" tabindex="-1"><i class="fas fa-chevron-left"></i>&nbsp; Vorige</button>
    <button type="button" class="button volgende" tabindex="-1">Volgende&nbsp; <i class="fas fa-chevron-right"></i></button>
  </div>
</fieldset>
